[submodule "scripts/rc-script-commands"]
	path = scripts/rc-script-commands
	url = https://github.com/raycast/script-commands.git
[submodule "scripts/copy-configs"]
	path = scripts/copy-configs
	url = https://github.com/gapurov/copy-configs.git
[submodule "scripts/simple-dotfiles"]
	path = scripts/simple-dotfiles
	url = https://github.com/gapurov/simple-dotfiles.git
