{
  "extends": [
    "eslint:recommended",
    "airbnb",
    "eslint-config-prettier"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-undef": "warn",
    "no-unreachable": "warn",
    "no-unused-vars": "warn",
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "react/forbid-prop-types": "off",
    "react/destructuring-assignment": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-shadow": "off",
    "constructor-super": "warn",
    "valid-typeof": "warn",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "import/no-extraneous-dependencies": [
      "off"
    ],
    "react/prefer-stateless-function": [
      "off"
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": []
      }
    ],
    "react-hooks/rules-of-hooks": "error"
  },
  "plugins": [
    "react-hooks"
  ]
}